**node_modules
**ssiData
**his
**/data3*.txt
.git/objects/pack/pack-a5c08228c5cdcead691ac1c4dce168d2c6b0b5fe.pack
dist/websocket/L3.txt
dist/websocket/data320250604.txt
dist/websocket/data320250605.txt
